<%- include("./partials/header"); %>




  <div class="site-section">

    <div class="container">

      <div class="row">
        <div class="site-section-heading mb-5 w-border text-center mx-auto" data-aos="fade-up">
          <h2 class="mb-5">What is Flamingo Express</h2>
          <p>
            Flamingo Express is the cryptocurrency & forex trading firm, concentrated in 
            producing favourable financing solutions. The strenuous exercise in this domain 
            has admitted the company to form an adequate team of experts to get a great solid 
            experience in this extravaganza extent. Market speculations are equipped to bring 
            in the value numerous times surpassing the profitability of banking securities and 
            other opportunities to acquire acquisition. We greatly believe in the possibilities 
            of foreign & cryptocurrency exchange trading since it is the largest syndicate in the 
            business and consequently it has the highest liquidity and volatility by volume. 
            With proven strategies and advance audit technology, our experts can able to draw 
            the assured resolutions on the grounds of variations in the field. 
            Flamingo Express is the best way to make your business portfolio mature faster. 
            Our investment platform is offering profitable financing opportunities to everyone
             who endeavours.
             <ul data-aos="fade-up">
              <li><p>Click on <a href="/tips"> <button class="btn btn-success">Tip & informations</button>   </a> Button &nbsp; &ldquo; for more information on how to invest, withdraw, Our upgrades, frequently asked questions, and all other information concerning Flamingo Express &rdquo; </p></li>
  
             </ul>
          </p>
        </div>
      </div>

      
  </div>
  <h2 data-aos="fade-up" class="investplans">Our Investment Plans</h2>
  <div class="row">
    <% investplans.forEach(function(invest){ %>

    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
      <div  class="p-4 bg-dark">
        <span class="d-block text-secondary small text-uppercase"><%= invest.name%></span>
        <h2 style="color: blue;" class=""><a href="/vendor"> <p><%= invest.amount%></p> 
          <p style="font-size: 30px;">55 % ROI</p>
           <P><%= invest.period%></P> </span></a>
          </h2>
        
      </div>
    </div>

    <% })%>

    <!-- <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
      <div class="p-4 bg-white">
        <span class="d-block text-secondary small text-uppercase">Sapphire Package</span>
        <h2 class="h5 text-black mb-3"><a href="/vendor">₦50,000 yields ₦70,000 <span>Period => 30 days</span></a></h2>
        
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
      <div class="p-4 bg-white">
        <span class="d-block text-secondary small text-uppercase">Emerald Package</span>
        <h2 class="h5 text-black mb-3"><a href="/vendor">₦100,000 yields ₦140,000 <span>Period => 30 days</span></a></h2>
        
      </div>
    </div>
  </div> -->
</div>


<div class="container">
  <div>
    <h2 data-aos="fade-up" class="investplans">Why Choose Flamingo Express?</h2>
  </div>
 <div>
    <div class="cards">
    <div>
      <h2 data-aos="fade-up" class="whyus">* Incorporated</h2>
      <p>Flamingo Express  is a legal company providing its service to the members around the world.

      </p>
    </div>
  </div>

  <div class="cards">
    <div>
      <h2 data-aos="fade-up" class="whyus">* Stable Profit</h2>
      <p data-aos="fade-up">Flamingo Express  guarantees you the stable and 
        secured risk free income at best of your selected investment plan.
      </p>
    </div>
  </div>

  <div class="cards">
    <div>
      <h2 data-aos="fade-up" class="whyus">* 24/7 Support</h2>
      <p data-aos="fade-up">Flamingo Express  support team will be available to you for your every counselling that you seek at any stage
      </p>
    </div>
  </div>

  <div class="cards">
    <div>
      <h2 data-aos="fade-up" class="whyus">* Fast Payments</h2>
      <p data-aos="fade-up">At Flamingo Express, all the payments perform within 48 hours with alleged security and efficiency in real time.     </p>
    </div>
  </div>


  </div>

</div>


<div class="container">
  <div>
       <h1 data-aos="fade-up" class="investplans">Referral Program</h1>
    </div>

    <div class="eee">
      <div class="aaa">
      <h1 data-aos="fade-up" class="fivep">  5%  </h1>
    </div>

    <div class="aaa">
      <h3 data-aos="fade-up" class="reftext">Referral Commission
        for all members.
        Investment not required.</h3>
    </div>

    
    </div>


</div>



      <!-- testimonies starts -->
      <div class="site-section bg-dark block-13">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
              <h2 class="mb-5">Testimonies</h2>
            </div>
          </div>
          <div class="nonloop-block-13 owl-carousel">
            
            <div class="text-center p-3 p-md-5 bg-white">
              
              <div class="text-black">
                <h3 class="font-weight-light h5">CRYPTO BILLIONIER</h3>
                <p class="font-italic">&ldquo;  An investment that gives your financial dream hope in this distress time &rdquo;</p>
              </div>
            </div>
  
            <div class="text-center p-3 p-md-5 bg-white">
              
              <div class="text-black">
                <h3 class="font-weight-light h5">ADEOYE DANIEL</h3>
                <p class="font-italic">&ldquo;A better platform with a better team&rdquo;</p>
              </div>
            </div>
  
            <div class="text-center p-3 p-md-5 bg-white">
              
              <div class="text-black">
                <h3 class="font-weight-light h5">WISDOM ABDOOL</h3>
                <p class="font-italic">&ldquo; A platform with the gear to push financial goals towards a positive outcome &rdquo;</p>
              </div>
            </div>
  
            <div class="text-center p-3 p-md-5 bg-white">
              
              <div class="text-black">
                <h3 class="font-weight-light h5">DIVINE IKECHUKWU</h3>
                <p class="font-italic">&ldquo; I recommend this platform for all investors that seeks profits &rdquo;</p>
              </div>
            </div>
  
            <div class="text-center p-3 p-md-5 bg-white">
              
              <div class="text-black">
                <h3 class="font-weight-light h5">EMERALD FELIX</h3>
                <p class="font-italic">&ldquo; The economy in a financial misconception, you need FLAMINGO EXPRESS.&rdquo;</p>
              </div>
            </div>
  
            <div class="text-center p-3 p-md-5 bg-white">
              
              <div class="text-black">
                <h3 class="font-weight-light h5">ISREAL OSIOGO</h3>
                <p class="font-italic">&ldquo;A platform to leverage on to boost your business portfolio &rdquo;</p>
              </div>
            </div>
  
          </div>
        </div>
      </div> 
      
      <div class="container">
        <!-- <h1 data-aos="fade-up" class="investplans">PAYMENT PROOFS</h1> -->
      </div>

     

<%- include("./partials/footer"); %>
