<%- include("./partials/header"); %>
<%- include("./partials/messages"); %>



<h2 data-aos="fade-up" class="investplans"> DASHBOARD</h2>
  <div class="row">

    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
      <div  class="p-4 bg-dark">
        <span class="d-block text-secondary small text-uppercase"></span>
        <h2 style="color: blue;" class=""><p> Current Amount : </p> 
          <p style="font-size: 30px;"> ₦ <%= currentUser.totalAmount %></p>
           <P></P> </span></a>
          </h2>
          <div>
             <a class="btn btn-success" href='/investnow' style="color: green; margin-left: 100px;"> INVEST NOW</a>

          </div>
      </div>
    </div>


    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
      <div  class="p-4 bg-white">
        <span class="d-block text-secondary small text-uppercase"></span>
        <h2 style="color: blue;" class=""><p style="text-align: center;">Active Investment:</p> 

          <% if (currentUser.isInvested == false) { %>
          <p style="font-size: 30px; text-align: center;">No Ongoing investment</p>
          <% }else{%>
            <p style="font-size: 30px; text-align: center;"><%= currentUser.investPlans %></p>
          <% } %>
           <P></P> </span></a>
          </h2>
        
      </div>
    </div>


    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
      <div  class="p-4 bg-dark">
        <span class="d-block text-secondary small text-uppercase"></span>
        <h2 style="color: blue;" class=""><p>Withdrawable Amount: </p> 
          <p style="font-size: 30px;"> ₦ <%= currentUser.totalAmount %></p>
           <P></P> </span></a>
          </h2>

          <div>
            <a href="#"><p style="margin-left: 100px;" class="btn btn-primary"> Withdraw</p>  </a>
          </div>
        
      </div>
    </div>

    
</div>







 
    

</div>

</div>






<div>
  
</div>

<%- include("./partials/footer"); %>
