<%- include("./partials/loginhead"); %>


    <form action="/signup" method="POST" >

	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-33">
						<a  href="/" class="btn btn-danger">Back</a>
						<h2>Fund Lab Capital</h2>


						Registration
					</span>
					<%- include ('./partials/messages') %>
					 <div class="wrap-input100 validate-input" data-validate = "Valid Firstname is required">
						<input class="input100"
						 type="firstname" 
						name="firstname" 
						placeholder="Firstname"
						 value="<%= typeof firstname != 'undefined' ? firstname : '' %>"
						 >
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid Lastname is required">
						<input class="input100"
						 type="lastname" 
						name="lastname" 
						placeholder="Lastname"
						 value="<%= typeof lastname != 'undefined' ? lastname : '' %>"
						 >
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid Username is required">
						<input class="input100" 
						type="username" 
						name="username"
						 placeholder="Username"
						 value="<%= typeof username != 'undefined' ? username : '' %>"
						 >
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Email Address is required example abc@xyz.com">
						<input class="input100" 
						type="email" 
						name="email" 
						placeholder="Email Address"
						value="<%= typeof email != 'undefined' ? email : '' %>"
						>
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
						<input class="input100" 
						type="password"
						 name="password" 
						 placeholder="Password"
						 value="<%= typeof password != 'undefined' ? password : '' %>"
						 >
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					 <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
						<input class="input100" 
						type="password" 
						name="password2" 
						placeholder="Confirm Password"
						value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
						>
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div> 

					 <div class="wrap-input100 rs1 validate-input" data-validate="Phone Number is required">
						<input class="input100"
						 type="telephone" 
						 name="telephone" 
						 placeholder="Phone Number"
						 value="<%= typeof telephone != 'undefined' ? telephone : '' %>"
						 >
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					
				
					<div>
						<input class="" type="checkbox" name="check" required>
						<p>By Clicking you agree with our <a href="/about">Terms & Condition</a></p>
					</div>
					
					<!--  -->
					
<!--  -->
					<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn">
						Register
						</button>
					</div>

					

					<div class="text-center">
						<span class="txt1">
							Already have an account?
						</span>

						<a href="/login" class="txt2 hov1">
							Log In
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

</form>
	
<!--Start of Tawk.to Script-->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/63251bb737898912e969a864/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->

	<%- include("./partials/logintail"); %>

